<!DOCTYPE html>
<html>
<head>
  <title>Тест на тему "ЭВМ и периферийным устройствам</title>

</head>
<body>
  <h1>Тест на тему "ЭВМ и периферийным устройствам"</h1>

  <div id="timer"></div>

  <div id="questions">
    <h2>Вопрос 1: Что означает аббревиатура "ЭВМ"?</h2>
    <input type="radio" name="question1" value="1"> Энергетический Вольт Модуль<br>
    <input type="radio" name="question1" value="2"> Электронная Вычислительная Машина<br>
    <input type="radio" name="question1" value="3"> Экстремально Вселенская Матрица<br>

    <h2>Вопрос 2: Какое устройство является периферийным устройством вывода?</h2>
    <input type="radio" name="question2" value="1"> Монитор<br>
    <input type="radio" name="question2" value="2"> Клавиатура<br>
    <input type="radio" name="question2" value="3"> Сканер<br>

    <h2>Вопрос 3: Какой из перечисленных интерфейсов служит для подключения принтера к компьютеру?</h2>
    <input type="radio" name="question3" value="1"> USB<br>
    <input type="radio" name="question3" value="2"> HDMI<br>
    <input type="radio" name="question3" value="3">Ethernet<br>
  </div>

  <button id="submit" onclick="submitAnswers()">Отправить</button>

  <div id="score"></div>

  <script src="/static/js/test.js"></script>
</body>
</html>